.courses-main {
    width: 100%;
    float: left;
}
.width100 {
    width: 100%;
    float: left;
    border: 1px solid #666666;
    border-spacing: 0px;
    text-align: center;
}
table,th,td {
    border: 1px solid #666666;
    padding: 10px;
}